
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f4ff;   
    color: #4a4a4a;              
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ffffff !important;
    font-weight: bold;
}

.navbar .nav-link,
.navbar-brand {
    color: #5e548e !important;   
}

.navbar .nav-link:hover {
    color: #ff8fab !important;   
}

.hero-section {
    height: 100vh;
    background: linear-gradient(135deg, #fddde6, #e0f7fa);
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-section h1 {
    color: #5e548e;   
    font-weight: 600;
}

.hero-section p {
    color: #6d6875;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.social-icons a {
    color: #7b6fa6;
    font-size: 20px;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff8fab;
}

.content-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.project-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card h5 {
    color: #5e548e;
}

.btn-custom {
    background-color: #cdb4db;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #ff8fab;
}


footer {
    background: #2e2c30;
    color: white;
    text-align: center;
    padding: 15px;
}